body {
    background: #000;
}
.slider {
    margin-top: 55px;
}
.slider1 {
    width: 500px;
}
.slider1 img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.nav1 {
    margin-top: 15px;
}
.header {
    margin-bottom: 25px;
}
.ul1 {
    padding-left: 200px;
    margin-top: 20px;
}
.ul1 a {
    color: #fff;
    padding-left: 15px;
    font-size: 19px;
    font-weight: bold;
    transition: 0.2s ease-out;
}
.ul1 li a:hover {
    border-bottom: 2px solid #fff;
    color: #fff;
}
.ul1 li {
    padding-left: 60px;
    color: #fff;
}
.logo {
    margin-top: 45px;
    padding-left: 65px;
}
.logo h2 {
    font-size: 34px;
    color: #fff;
}
.zuraas1 {
    border-bottom: 2px solid #f28c28;
    width: 90px;
}
.slider {
    margin-top: 55px;
}
.text1 {
    margin-left: 30px;

}
.text1 h2 {
    text-align: center;
    color: #fff;
    font-size: 44px;
    padding-top: 45px;
}
.text1 p {
    color: #fff;
    padding-top: 20px;
    font-size: 23px;
    text-align: center;
}
.zuraas2 {
    border-bottom: 3px solid #f28c28;
    width: 200px;
    margin: 0 auto;
}
.ontsloh {
    margin-top: 85px;
    padding-left: 200px;
    
}
.ontsloh img {
    width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
}
.textamc {
    padding-left: 100px;
    text-align: center;
    color: #fff;
    padding-top: 85px;
}
.seemore1 {
    margin-bottom: 70px;
}
.seemore1 a {
    text-decoration: none;
    color: #f28c28;
    font-size: 20px;
}
.ontsloh1 {
    margin-top: 85px;
    padding-left: 200px;
    
}
.ontsloh1 img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
}
.textamc1 {
    padding-left: 70px;
    text-align: center;
    color: #fff;
    padding-top: 85px;
}
.ontsloh2 {
    margin-top: 85px;
    padding-left: 200px;
    
}
.ontsloh2 img {
    width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
}
.butsah {
    margin-top: 44px;
    padding-left: 300px;
    color: #fff;
    padding-bottom: 75px;
}
.butsah i {
    font-size: 40px;
    color: #f28c28;
    float: right;
    padding-right: 355px;
}
.zuraas3 {
    border-bottom: 2px solid #f28c28;
    width: 70px;
    margin: 0 auto;
    margin-right: 480px;
}
.tovch {
   padding-left: 300px;
}
.tovch a {
    text-decoration: none;
    font-size: 23px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding-top: 15px;
}
.butsah1 {
    border: 2px solid #f28c28;
    width: 100px;
    border-radius: 7px;
    height: 50px;
}
.ontsloh3 {
    text-align: center;
    margin-top: 45px;
}
.ontsloh3 h3 {
    color: #fff;
    font-size: 34px;
}
.zuraas4 {
    border-bottom: 2px solid #f28c28;
    margin: 0 auto;
    width: 200px;
}